@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('root.css');

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
    opacity: 0.8;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}


button:active {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.8);
}


/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #FCFCFC;
}
.grey {
    position: relative;
    
}


.grey::before {
    content: '';
    position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 109;
    
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.main {
    position: relative;
}
.modal {
    position: fixed;
    background-color: var(--white-background);
    box-shadow: var(--bx-shd-invido);
    /* margin-left: 71px; */
    max-width: 98.1vw;
    width: 100%;
    left: 0px;
    transition: all .5s;
    padding: 36px;
    z-index: 110;
    height: 100vh;
    border-radius: 0px 30px 30px 0px;
}
.modal-none {
    /* opacity: 0;
    visibility: hidden; */
    left: -2000px;

}
.modal h1{
    color: var(--os-background);
    padding-left: 71px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 38px;
}
.modal_all {
    position: relative;
    display: flex;
    margin-left: 71px;
    gap: 23px;
    flex-wrap: wrap;
}
.Close {
    position: absolute;
    right: -10px;
    top: -80px;
    cursor: pointer;
}
.Close:hover {
    opacity: .6;
}

.modal_all-item-btn {
    /* padding: 54px 50px 60px 50px; */
    padding: 72px;
    /* width: 278px; */
    max-width: 400px;
    width: 100%;    

    border-radius: 30px;
    background: #F4F5F8;
    /* height: 200px; */
    border: 1px solid #F4F5F8;

}
.modal_all-item-btns  {
    /* padding: 20px; */
    padding: 40px;
    /* width: 278px; */
    max-width: 400px;
    width: 100%;    
    display: flex;
    flex-direction: column;
    gap: 23px;
    border-radius: 30px;
    background: var(--white-background);
    /* height: 200px; */
    border: 1px solid #D8DCE6;

}

.modal_all-item-btn-p {
    color: var(--os-background);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-top: 15px;
}
.modal_all-item-btn-top {
    display: flex;
    gap: 16px;
    color: var(--os-background);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.modal_all-item-btn-top-img {
    width: 56px;
    height: 56px;
    border-radius: 56px;
}
.modal_all-item-btn-top-bot {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.modal_all-item-btn-top-bot p{
    display: flex;
    align-items: center;
    gap: 8px;
}
.top_img-all {
    position: relative;
}
.top_img-all-item {
    position: absolute;
}
.top_img-all-item:nth-child(1) {
    position: absolute;
    left: 0;
}
.top_img-all-item:nth-child(2) {
    position: absolute;
    left: 25px;

}
.top_img-all-item:nth-child(3) {
    position: absolute;
    left: 42px;
}
.top_img-all-item:nth-child(4) {
    position: absolute;
    left: 59px;
}
.modal_all-item-btn-mid {
    display: flex;
    
}
.modal_all-item-btn-mid p{
    padding-left: 34px;
    color: var(--vt-th-grey);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.check-mid {
    top: 1px;
    left: 6px;
}
.modal_all-item-btn-bot {
    display: flex;
    gap: 5px;
}
.modal_all-item-btn-bot-linkOne {
    border-radius: 8px;
    background: #F4F5F8;
}
.modal_all-item-btn-bot-linkOne img{
    padding: 8px;
    
}
.modal_all-item-btn-bot-linkTwo {
    display: flex;
    gap: 8px;
    color: var(--os-background);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 8px;
    background: #F4F5F8;
    padding: 7px 27px;
}
.conatiner-all {
    display: flex;
    gap: 40px;
    justify-content: end;
    padding-left: 290px
}
.container {
    flex: 1;
    max-width: 1350px;
    padding: 20px;
    /* margin: 0 auto; */
}
.all {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}
.all-item {
    border-radius: 30px;
    padding: 20px;
    background: #FFF;
    box-shadow: var(--bx-shd-invido);
    /* min-width: 1350px; */
    max-width: 1750px;
    width: 100%;
    /* max-width: auto; */
}
.all-item-comleks-all-hidden {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.all-item-table-top {
    display: flex;
    gap: 20px;
    align-items: center;
}
.all-item-table-bot {
    display: flex;
    gap: 10px;
}
.all-item-table-bot-btn-one {
    border-radius: 8px;
    background: #667695;
    padding: 5px 16px 5px 16px;
    color: var(--white-background);
    height: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.all-item-table-bot-btn-two {
    border-radius: 8px;
    background: #14C67C;
    padding: 5px 16px 5px 16px;
    color: var(--white-background);
    height: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items:center ;

}
.all-item-table-bot-btn-three {
    border-radius: 8px;
    background: #EF5350;
    padding: 5px 16px 5px 16px;
    color: var(--white-background);
    height: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items:center ;
}
.span-vb {
    display: block;
    color:  var(--os-background);
    padding: 4px 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #F2F4F9;   
    padding-right: 26px; 
    position: relative;
}
.span-vb::after {
      content: '';
      position: absolute;
      left: 77px;
      top: 8px;
      width: 10px;
      height: 10px;
      cursor: pointer;
      background-image: url(../img/Frame\ 1.svg);
      background-repeat: no-repeat;
}
.btn-none {
    display: none;
}
.span-all-hidden {
    color:  var(--os-background);
    padding: 4px 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #F2F4F9;
    margin-left: -10px;
}
.span-all-hidden-hid {
    display: none;  
}
/* @media (max-width:1700px) {
    .all-item {
        border-radius: 30px;
        padding: 20px;
        background: #FFF;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
        min-width: 1200px;
        max-width: auto;
    }
    
}
@media (max-width:1567px) {
    .all-item {
        border-radius: 30px;
        padding: 20px;
        background: #FFF;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
        min-width: 1000px;
        max-width: auto;
    }
    
}
@media (max-width:1372px) {
    .all-item {
        border-radius: 30px;
        padding: 20px;
        background: #FFF;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
        min-width: 960px;
        max-width: auto;
    }
    
}
@media (max-width:1335px) {
    .all-item {
        border-radius: 30px;
        padding: 20px;
        background: #FFF;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
        min-width: 900px;
        max-width: auto;
    }
    
}
@media (max-width:1280px) {
    .all-item {
        min-width: 850px;

    }
    
}
@media (max-width:1230px) {
    .all-item {
        min-width: 800px;
    }
    
}
@media (max-width:1176px) {
    .all-item {
        min-width: 750px;
    }
    
}
@media (max-width:1123px) {
    .all-item {
        min-width: 700px;
    }
    
}
@media (max-width:1078px) {
    .all-item {
        min-width: 650px;
    }
    
}
@media (max-width:1043px) {
    .all-item {
        min-width: 600px;
    }
    
} */


.menu {
    padding-top: 12px;
    display: flex;
    max-height: 99vh;
    position: fixed;
    z-index: 1000;

}
.menu-left {
    background: #FCFCFC;
    display: flex;
    height: 97vh;
    flex-direction: column;
    justify-content: space-between;
}
.menu-left-list {
    padding: 18px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.menu-left-bot {
    padding: 20px;

}
.menu-mid {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items:left ;

}
.menu-left-item {
    display: flex;
    gap: 16px;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}
.menu-left-item--none {
    display: none;
}
.menu-left-item-title {
    color: var(--os-background);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.menu-rigth {
    width: 60px;
    height: 97vh;
    margin-left: 0px;
    border-radius: 30px;
    border: 1px solid #FFF;
    display: flex;
    flex-direction: column;
    padding: 22px 9px 0;
    background: var(--os-background);
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: var(--bx-shd-menu);
}
.menu_text-none:hover {
    opacity: 0.8;
}
.CdPlace {
    color: var(--os-background);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.cp {
    border-radius: 8px;
    background: #07F;
    padding: 7px 6px;
    box-shadow: 0px 0px 8px 0px rgba(0, 119, 255, 0.25);
    display: flex;
    align-items: center;
}
.dash  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8px;
    border-radius: 8px;
    background: #FFF;
    
    box-shadow: var(--bx-shd-invido);
}
.cash  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8px;
    border-radius: 8px;
    background: #FFF;
    
    box-shadow: var(--bx-shd-invido);
}
.dash--active {
    border-radius: 8px;
    background: var(--os-background);
    box-shadow: var(--bx-shd-invido);
    
}
.cash--active {
    border-radius: 8px;
    background: var(--os-background);
    box-shadow: var(--bx-shd-invido);
    
}

.inputTextCont {
   display: none;
   max-width: 140px;
}

.inputTextCont2 {
   display: none;
   width: 124px;
   /* padding: 3px;
   padding-left: 10px; */

}
.inputTextCont2:hover {
    /* background-color: var(--hover-background));
    border-radius: 6px; */
}
.vector {
    fill: #D0D2D6;
}
.vector-2--active {
    fill: var(--blue-os);
}
.vector-white {
    fill: var(--white-background);
}
.vector-home-white {
    fill: var(--white-background);
}
.text-none {
    display: none;
}
.menu-rigth--active {
    margin-left: 10px!important;
    width: 210px;
}

.menu-right-link {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    
}

.menu-right-link p{
    display: none;
}
.menu-rigth-none {
    display: none;
}
.menu-right-link--active {
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 6px 10px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
    margin-bottom: 0px;
}
.menu-right-link--active-two {
    border-radius: 8px;
    background: #2D2D2D;
}
.img-active {
    padding: 10px;
}
.menu-right-link--active img{
    padding: 0;
}
.menu-right-link--active p{
    display: inline;
}
.puz {
    display: flex;
    justify-content: center;
    padding:8px;
    height: 31px;
    width: 31px;
    border-radius: 8px;
    background: #FFF;
    
    box-shadow: var(--bx-shd-invido);
}
.puzli {
    background-color: #FCFCFC!important;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.00);
}
.baza-price {
    padding: 3px;
    padding-right: 30px;
    position: relative;
    width: 80px;
}

.baza-price:hover {
    background-color: var(--hover-background);
    cursor: pointer;
    border-radius: 6px;
}
.baza-price:hover.baza-price::after {
    display: block;
}
.baza-price::after {
    display: none;
      content: '';
      position: absolute;
      left: 60px;
      top: 8px;
      width: 10px;
      height: 10px;
      background-image: url(../img/edit\ 1.svg);
      background-repeat: no-repeat;
}
.baza-price-two {
    padding: 3px;
    padding-right: 30px;
    position: relative;
    width: 120px;
}
.baza-price-two:hover {
    background-color: var(--hover-background);
    cursor: pointer;
    border-radius: 6px;
}
.baza-price-two:hover.baza-price-two::after {
    display: block;
}
.baza-price-two::after {
    display: none;
      content: '';
      position: absolute;
      left: 100px;
      top: 8px;
      width: 10px;
      height: 10px;
      background-image: url(../img/edit\ 1.svg);
      background-repeat: no-repeat;
}
.baza-h {
    padding: 3px;
    padding-right: 30px;
    position: relative;
    width: 150px;
}
.baza-h:hover {
    background-color: var(--hover-background);
    cursor: pointer;
    border-radius: 6px;
}
.baza-h:hover.baza-h::after {
    display: block;
}
.baza-span {
    padding: 3px;
    padding-right: 30px;
    padding-left: 9px;
    position: relative;
}
.baza-span:hover {
    background-color: var(--hover-background);
    cursor: pointer;
    border-radius: 6px;
}
.baza-span:hover.baza-span::after {
    display: block;
}
.baza-span::after {
    display: none;
      content: '';
      position: absolute;
      left: 250px;
      top: 8px;
      width: 10px;
      height: 10px;
      background-image: url(../img/edit\ 1.svg);
      background-repeat: no-repeat;
}
.baza-h::after {
    display: none;
      content: '';
      position: absolute;
      left: 130px;
      top: 8px;
      width: 10px;
      height: 10px;
      background-image: url(../img/edit\ 1.svg);
      background-repeat: no-repeat;
}
.one-hover {
    padding: 3px;
    padding-right: 30px;
    position: relative;
}
.galka {
    display: none;
    position: absolute;
    top: 9px;
    right: 9px;
}
.edit-1 {
    display: none;
    position: absolute;
    top: 9px;
    right: 9px;
}
.galka-2 {
    display: none;
    position: absolute;
    top: 9px;
    right: 9px;
}
.edit-2 {
    display: none;
    position: absolute;
    top: 9px;
    right: 9px;
}
.kira {
    padding: 3px;
    padding-right: 30px;
    position: relative;
    padding-left: 10px;
    max-width: 125px;
}

.kira:hover .edit-2 {
    display: block;
}
.kira:hover {
    background-color: var(--hover-background);
    cursor: pointer;
    border-radius: 6px;
}

.one-hover:hover {
    background-color: var(--hover-background);
    cursor: pointer;
    border-radius: 6px;
}
.one-hover:hover .edit-1 {
    display: block;
}

.br-menu {
    background: #EAEFF3;
    /* border: 1px solid red; */
    width: 31px;
    height: 1px;
    margin-bottom: -10px;
    margin-top: -10px;
}
.br-menu--active {
    width: 177px;

}
.r {
    border-radius: 31px;
    width: 31px;
    height: 31px;
    
}
.r-active {
    

}
.elips-1 {
    width: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
}
.header-h2 {
    padding-top: 14px;
    color: #D0D2D6;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.header-h2-glav {
    opacity: 0;
}
.header-h3-glav {
    padding-top: 25px!important;
}
.header-h3 {
    color: var(--os-background);
    padding-top: 22px;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_all {
    display: flex;
    flex-direction: column;
    border-radius: 9px 9px 0 0;
    background: #FCFCFC;
    position: relative;
    
    
}
.header_all--active {
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.08);
    background-color: var(--white-background);
}
.header-menu {
    cursor: pointer;
    display: flex;
    gap: 16px;
    padding-right: 15px;
    background-color: #FCFCFC;
    margin: 5px;

}
.header-menu:hover {
    background-color: var(--white-background);
    border-radius: 9px;
}
.header-menu--active {
    background-color: #F4F7FC!important;
    z-index: 20;
    border-radius: 9px;
}
.header-menu--active .icons path {
    fill: #0077FF;
}
.header-menu-left {
    text-align: right;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0px;
}
.header-menu-left h4 {
    color: var(--os-background);

    text-align: right;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.header-menu-left span{
    text-align: right;
    color: #BBBDC3;
    text-align: right;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}
.header-menu-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.all-item-title {
    color: var(--os-background);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
    padding-top: 10px;
}
.all-item-btn {
    border-radius: 8px;
    background: #F9F9FA;
    display: flex;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}
.all-item-btn:hover {
    background: #F2F4F9;
}
.table-one {
    border-collapse: collapse;
    width: 100%;
    
}
.table-thead-one {
}
.tr-one {
    border-bottom: 1px solid #DFE4EC;
    
}

.th-one {
    text-align: left;
    padding: 8px 16px;
    color: var(--vt-th-grey);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

}
.tbody-one {
    
}
.tr-one-bot {
    border-bottom: 1px solid #DFE4EC;
    
}

.tr-one-bot-all {
    
    width: 100%;
}
.tr-one-bot--active {
    
    border: 2px dashed #DFE4EC;
    background: rgba(20, 198, 124, 0.01);
}
.td-one {
    height: 77px;
    padding: 8px 16px;
    color: var(--os-background);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* width: 450px; */
}
.td-inps {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 348px;
}
.td-inps p{
   padding-left: 10px;
}
.td-inps-gas {
    width: 318px;
}

.span-price {
    color: #BBBDC3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer; 
}
.span-price-bgc {
    padding: 5px 10px;
    border-radius: 8px;
    background: var(--rub-background);
}
.price-flex {
    display: flex;
    justify-content: space-between;
}
.drop_menu {
    z-index: 10;
    position: absolute;
    top: 67px;
    /* background-color: #fff; */
    box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 9px 9px ;
    background-color: inherit;

}
.drop_menu-item {
    display: flex;
    gap: 11px;
    padding: 11px 20px;

}
.drop_menu-item a{
    color:  var(--os-background);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
}

.drop_menu-item:hover {
    opacity: .8;
}
.none {
    display: none;
}
#check {
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: 2px solid #EAEAEA;
}
.check-all {
    display: flex;
    align-items: center;
    z-index: 100;
}
.img-none {
    display: none;
    margin-right: -25px;
    margin-left: -3px;
}
.img-none--active {
    display: block;
}
.chekBox-none--active {
    display: none;
}
@media (max-width:1400px) {
    .td-inps {
        width: 311px;
    }
    .td-inps-gas {
        width: 272px;
    }
    .baza-span {
        padding-right: 0;
    }
    .modal_all-item-btn {
        padding: 54px 50px 60px 50px;
        width: 278px;  
        height: 200px;
    
    }
    .modal_all-item-btns  {
        padding: 20px;
        width: 278px;   
        height: 200px;
    
    }
    .modal {
 
        /* margin-left: 71px; */
        max-width: 97.5vw;

    }
}
@media (max-width:1280px) {
    .span-all-hidden {
        color: var(--os-background);
        padding: 4px 8px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 8px;
        background: #F2F4F9;
        margin-left: 0px;
    }
    .all-item-title {
        font-size: 16px;
    }
    .all-item-table-top {

        gap: 10px;
    }
    .all-item-table-bot-btn-one {
        font-size: 12px;
        padding: 5px 12px 5px 12px;
    }
    .conatiner-all {
        display: flex;
        gap: 40px;
        justify-content: end;
        padding-left: 280px;
    }
    .menu-rigth {
        margin-left: 0px;
    }
    .br-menu--active {
        width: 166px;
    }
    .all-item-table-bot-btn-two {
        font-size: 12px;
        padding: 5px 12px 5px 16px;
    }
    .all-item-table-bot-btn-three {
        font-size: 12px;
        padding: 5px 12px 5px 16px;
    }
}
@media (max-width:1180px) {
    .all-item-comleks-all-hidden {
        align-items: center;

    }
    .all-item-title {
        font-size: 15px;
        max-width: 85px;
    }
    .all-item-table-top {
        gap: 7px;
    }
    .all-item-comleks-all-hidden {
        gap: 20px;
    }
    .all-item-table-bot-btn-one {
        font-size: 12px;
        padding: 5px 8px 5px 8px;
    }
    .conatiner-all {
        display: flex;
        gap: 40px;
        justify-content: end;
        padding-left: 270px;
    }
    .menu-rigth {
        margin-left: 0px;
    }
    .menu-rigth--active {
        margin-left: 0px!important;
        width: 200px;
    }
    .all-item-table-bot-btn-two {
        font-size: 12px;
        padding: 5px 8px 5px 16px;
    }
    .all-item-table-bot-btn-three {
        font-size: 12px;
        padding: 5px 8px 5px 16px;
    }
}
@media (max-width:1250px) {
    .td-inps {
        width: 311px;
    }
    .td-inps-gas {
        width: 225px;
    }
}
@media (max-width:1100px) {
    .td-inps {
        width: 300px;
    }
    .td-inps-gas {
        width: 180px;
    }
}
@media (max-width:1024px) {
    .modal {
        max-width: 96.5vw;
    }
    .modal_all-item-btns {
        padding: 15px;
        width: 262px;
        height: 190px;
    }
    .modal_all-item-btn {
        padding: 54px 50px 60px 50px;
        width: 262px;
        height: 190px;
    }
    .modal_all-item-btn-bot-linkTwo {
        gap: 7px;
        padding: 7px 23px;
    }
}
@media (max-width:800px) {
    .modal {
        overflow-y: scroll;
    }
    .grey {
        overflow: hidden;
        
    }
}
.modal_all-item-btns--active {
    border: 1px solid  #07F;
}

input[type=checkbox] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	
    position: relative;
}

input[type=checkbox]:before {
    content: url(../img/checkmark_z6kmf49iqefw.svg);
    font-size: 15px;
    color: transparent !important;
    background: var(--white-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding-bottom: 2px;
    border: 2px solid #ccc;
    border-radius: 6px;
    top: -2px;
    left: -2px;
    position: absolute;
    
}

input[type=checkbox]:checked:before {
    background-color: rgba(0, 119, 255, 1);
	color: var(--white-background) !important;
    border: 2px solid rgba(0, 119, 255, 1);
}
input[type=radio] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	
    position: relative;
}
input[type=radio]:before {
    content: url(../img/Radio.svg);
    font-size: 15px;
    color: transparent !important;
    /* background: var(--white-background); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6px;
    height: 6px;
    padding-top: 4px;
    border-radius: 10px;
    position: absolute;
    
}

input[type=radio]:checked:before {
    background-color: rgba(0, 119, 255, 1);
	/* color: var(--white-background) !important; */
    /* border: 2px solid rgba(0, 119, 255, 1); */
}
.footer-menu {
    display: none;
}

.burger-svg {
    display: none;
}
.burger {
    display: none;
}
.burger-icon-span {
    display: none;
}
.black {
    background: var(--os-background)!important;
}
.footer-svg-glav--active g path{
    fill: var(--white-background);
}
/* MOBIL GLAV */
@media (max-width:768px) {
    .burger-header {
        position: fixed;
        width: 96%;
    }
    .header {
        position: relative;
    }
    .conatiner-all {
        padding-left: 0;
    }
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        position: relative;
    }
    .burger {
        display: block;
        position: absolute;
        background-color: #FCFCFC;
        transition: all .5s;
        z-index: 10;
        top: 51px;
        left: -1000px;
        right: 1000px;
        bottom: 0;
        overflow-y: scroll;
    }
    
    .burger--active {
        left: 0;
        right: 0;
    }
    .burger-svg {
        position: absolute;
        display: block;
        left: 0;
        top: 4px;  
        transition: all .6s;
    }
    .burger-icon {
        display: flex;
        align-items: start;
        cursor: pointer;
        
    }
    .burger-svg--active {
        left: 95%;
    }
    .burger-svg--active g rect {
        fill:#07F;
    }
    .header-h3-glav {
        padding-top: 0px!important;
        padding-left: 28px;
    }
    .burger-icon-text {
        
    }
    .header-h3-glav--none {
        display: none;
    }
    .burger-icon-span {
        display: none;
        color: #BBBDC3;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .burgerIconSpan--active {
        display: block;
    }
/* MOBIL GLAV Burger-drop*/
    .burger-menu-drop {
        padding: 16px;
        display: flex;  
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        cursor: pointer;
    }
    /* .burger-menu-drop:hover {
        background: #E9F2FB;
    } */
    .burgerMenuDrop--active {
        background: #E9F2FB;
    }
    .burgerMenuDrop--active .burger-menu-drop-rigth svg g path {
        fill: var(--blue-os);
    }
    .burger-menu-drop-left {
        display: flex;
        gap: 16px;
        align-items: center;
    }
    .header-menu-left-right h4 {
        color: var(--os-background);
    
        text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }
    .header-menu-left-right span{
        text-align: right;
        color: #BBBDC3;
        text-align: right;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
    }
    .burger-menu-list {

    }
    .burger-menu-item {
        display: flex;
        gap: 11px;
        padding: 16px;
    }

    .burger-menu-item a{
        color:  var(--os-background);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; 
    }
    
    .burger-menu-item:hover {
        opacity: .8;
    }
    .burgerMenuS--none {
        display: none;
    }

/* /MOBIL GLAV Burger-drop*/
/* MOBIL GLAV Управление*/
.burger-upr {
    margin-top: 16px;
}
.burger-span {
    padding: 16px;
    margin-top: 16px;
    color: #D0D2D6;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.burger-upr-bot {
    padding: 16px;
    display: flex;
    margin-top: 16px;
    position: relative;
    color: var(--os-background);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#burger-check {
    position: absolute;
    top: 37px;
    right: 25px;
}
#burger-check:before {
    top: 2px;
    /* left: 160px; */
}
.burger-upr-bot--active {
    border-radius: 8px 8px 0px 0px;
    background: #E9F2FB;
}
.burger-upr-bot-left {
    display: flex;
    align-items: center;
    gap: 16px;
}
.burger-upr-bot-left img {
    width: 55px;
    height: 55px;
    border-radius: 55px;
}
.burger-upr-bots {
    background-color: #fff;
    margin-top: 4px;
}
.add-s {
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 4px;
    background-color: #fff;
    color: var(--os-background);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 100%;
    width: 100%;
}
/* /MOBIL GLAV Управление*/

.menu {
    display: none;
}
.header_all {
    display: none;
}
.footer-menu {
    display: block;
}
.footer-menu-all {
    border-top: 1px solid #F2F2F2;
    padding: 9px 0 0;
}
.footer_menu-list {
    justify-content: space-between;
    display: flex;
}
.footer_menu-item_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 4px;
    color: var(--os-background);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer_menu-svg {
    background-color: var(--white-background);
    padding: 8px;
    box-shadow: var(--bx-shd-invido);
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.header-h2-glav {
    display: none;
}

}
@media (max-width:600px) {
    
    .burger-header {
        position: fixed;
        width: 92%;
    }
    .container {
        padding: 16px;
        padding-bottom: 10px;
    }
}
@media (max-width:478px) {
    
    .burger-header {
        position: fixed;
        width: 90%;
    }
}
@media (max-width:420px) {

    
}
@media (max-width:420px) {
    
}
@media (max-width:385px) {
    
}
@media (max-width:360px) {
    
    .footer_menu-item_link {
        font-size: 10px;
    }
    
}
.main-management-text {
    display: none;
}
.main-management-link {
    display: none;
}


/* MOBIL Management */
@media (max-width:768px) {
    
    .header-management {
        flex-direction: column;
    }
    .main-management-text {
        display: block;
        margin-top: 47px;
        color: #D0D2D6;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 12px;
        
    }
    .main-management-link {
        display: block;
        padding: 16px;
        margin-left: -16px;
        margin-right: -16px;
        background-color: #fff;
        color: var(--os-background);
        text-overflow: ellipsis;
        font-family: Manrope;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 4px;
    }
}

/* MOBIL Price */
.burger-price {
    display: none;
}
.all-price {
    display: none;
}
@media (max-width:768px) {
    .all {
        display: none;
    }
    /* .conatiner-all-price {

        display: block;
    } */
    .conatiner-all-price {
        display: flex;
        height: 100vh;
        flex-direction: column;
        gap: 0
    }
    .container-price {
        height: 65vh;
        padding: 0;
        padding-top: 0;
    }
    .burger-price {
        background-color: var(--os-background);
        /* position: fixed; */
        width: 100%;
        z-index: 9999;
        display: block;
    }
    .all {
        padding-top: 60px;
    }
    .burger-price-all {
        display: flex;
        align-items: start;
        gap: 13px;
        padding: 8px 13px;
        
    }
    .burger-price-all-dropmenu {
        max-width: 690px;
        width: 100%;
    }
    .burger-price-all-link img{
        padding: 8px;
        margin-top: 1px;
        border-radius: 8px;
        background-color: #fff;
    }
    .footer-menu-price {
        padding-bottom: 10px;
        padding-right: 16px;
        padding-left: 16px;
        /* margin-top: 30px; */
    }
    .burger-price-all-dropmenu-active-all {
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        background: #2D2D2D;
        padding: 6px 10px;
        cursor: pointer;
    }
    .burger-price-all-dropmenu-active  {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .burger-price-all-dropmenu-active a  {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .burger-price-all-dropmenu-list {
        display: none;
    }
    .burger-price-all-dropmenu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 10px;
        border-top: none!important;
        border: 1px solid #2D2D2D;
    }
    .burger-price-all-dropmenu-item-left {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .burger-price-all-dropmenu-item a  {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .list-active {
        display: block;
    }
    .all-active {
        border-radius: 8px 8px 0px 0px!important;
    }
    .all-active svg path{
        fill: #0077FF;
    }

/* MOBIL Price ITEM */
    .all-price {
        display: block;
        /* overflow-y: scroll; */
        /* padding-top: 40px; */
    }
    .all-price-item {
        border-radius: 0px 0px 22px 22px;
        background: #FFF;
        box-shadow: var(--bx-shd-invido);
        padding: 20px 16px;
    }
    .all-price-item-two {
        margin-top: 16px;
        margin-bottom: 30px;
        border-radius: 22px;
    }
    .all-price-item-title {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin-bottom: 10px;
    }
    .all-price-item-title-btn {
        opacity: 0;
        visibility: hidden;
    color: #07F;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    .all-price-item-title-btn-active {
        opacity: 1;
        visibility: visible;
    }
    .all-price-item-top {
        height: 40px;
        padding: 0 3px;

        display: flex;
        align-items: center;
        color: var(--vt-th-grey);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        border-bottom: 1px solid rgba(13, 35, 67, 0.07);
        }
    .all-price-item-top-inp {
        top: -8px;
        left: 2px;
    }

    .all-price-item-top p{
        padding-left: 40px;
        
    }
    .all-price-item-drop {
        padding: 0 3px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
        height: 46px;
        border-bottom: 1px solid rgba(13, 35, 67, 0.07);
    }
    .all-price-item-drop-left {
        display: flex;
        align-items: center;

    }
    .all-price-item-drop p {
        padding-left: 40px;
        color: var(--os-background);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        
    }
    .all-price-item-drop-img {
        display: flex;
        border-radius: 8px;
        background: #F2F2F2;
        padding: 5px;
    }

    .all-price-item h2{
    color: var(--os-background);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    }
    .all-price-item-drop-list {
        margin-top: 8px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(13, 35, 67, 0.07);

    }
    .item-description {

    }
    .item-description-span {
        color: var(--vt-th-grey);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
    .item-description-text {
        color: var(--os-background);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
    }
    .item-description-bot {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .item-description-bot-span {
        color: var(--vt-th-grey);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.03);
        padding: 5px 10px;
    }
    .all-price-item-drop--active {
        background: #E9F2FB;
    }
    .all-price-item-drop-list--none {
        display: none;
    }
   .allPriceItemDropImg--active {
    background: transparent;
   }
   .allPriceItemDropImg--active svg path{
    fill: #0077FF;
   }
   .all-price-item-btn {
        display: block;
        padding-top: 15px;
        max-width: 100%;
        width: 100%;
        padding-bottom: 15px;
        margin: 0 auto;
        border-radius: 8px;
        background: rgba(32, 33, 37, 0.03);
        margin-top: 10px;

   }
   .all-price-item-btn-2 {
        display: block;
        padding-top: 15px;
        max-width: 100%;
        width: 100%;
        padding-bottom: 15px;
        margin: 0 auto;
        border-radius: 8px;
        background: rgba(32, 33, 37, 0.03);
        margin-top: 10px;

   }
   .all-price-item-two-title {
    margin-bottom: 10px;
   }
   .all-price-item-mid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
   }
   .all-price-item-mid-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
   }
   .all-price-item-mid-btn:nth-child(1) {
    border-radius: 8px;
    background: #EF5350;
    padding: 3px 12px 3px 12px;
    color: var(--white-background);
    height: 27px;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;

   }
   .all-price-item-mid-btn:nth-child(2) {
    border-radius: 8px;
    background: #667695;
    padding: 3px 12px 3px 12px;
    color: var(--white-background);
    height: 27px;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
   }
   .all-price-item-mid-btn:nth-child(3) {
    border-radius: 8px;
    background: #14C67C;
    padding: 3px 12px 3px 12px;
    color: var(--white-background);
    height: 27px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;
   }
   .all-price-item-mid--none {
    display: none;
   }
}
@media (max-width:410px) {
    .burger-price-all {
        gap: 10px;
    }
}
